{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<section class="auth-form-shell">
    <form class="form" method="post">
        {% csrf_token %}
        <span class="input-span">
            <label for="email" class="label">Email</label>
            <input type="text" name="username" id="email" autocomplete="username" required>
        </span>
        <span class="input-span">
            <label for="password" class="label">Password</label>
            <input type="password" name="password" id="password" autocomplete="current-password" required>
        </span>
        <span class="span"><a href="#">Forgot password</a></span>
        <input class="submit" type="submit" value="Log in" />
        <span class="span">Don't have an account? <a href="{% url 'signup' %}">Sign up</a></span>
    </form>
</section>
{% endblock %}
